.banner {
  background-image: url('img/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding-top: 15%;
  padding-bottom: 30%;
  color: #ffffff;
}

#visimisi {
  background-color: #0ead63;
}

#fasilitas {
  background-color: #ffffff;
}

#gallery {
  background-color: #0ead63;
}

section {
  padding-top: 7rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
